{% extends 'base.html' %}
{% block title %}Add nick to {{ author[1] }}{% endblock %}
{% block content %}
    <h1>Add nick to {{ author[1] }}: </h1>
    <form action="#" method="post">
        <label for="nick">Nick: </label>
        <input type="text" id="nick" name="nick" autocomplete="off" required>
        <br>
        <label for="author">Select author</label>
        <select name="author" id="author" required>
            {% for opt in authors %}
                {% if opt[0] == author[0] %}
                    <option value="{{ opt[0] }}" selected="selected">{{ opt[1] }}</option>
                {% else %}
                    <option value="{{ opt[0] }}">{{ opt[1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Dodaj">
    </form>
{% endblock %}